.footer {
  width: 100%;
  min-height: 100px;

  @include media-breakpoint-up(md) {
    background-color: $brand-secondary;
  }

  &-inner {
    height: 100%;
    display: flex;
    flex-direction: column-reverse;

    @include media-breakpoint-up(md) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &.container {
      width: auto;
      padding: 0;
      max-width: 100%;

      @include media-breakpoint-up(md) {
        width: 100%;
        padding: 0 16px;
      }
    }

    .footer-contact {
      ul {
        display: flex;
        flex-direction: column;
        gap: 15px;
      }
    }

    .footer-nav {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      background-color: $brand-primary;
      color: $white;
      align-items: center;
      padding: 25px 0px;
      gap: 25px;

      @include media-breakpoint-up(md) {
        background: none;
        flex-direction: row;
        color: $black;

        .footer-nav-first {
          margin-right: 8rem;
        }
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 15px;
      }
    }

    .footer-connect {
      background-color: $brand-secondary;
      text-align: center;

      @include media-breakpoint-up(md) {
        text-align: left;
      }

      h1 {
        font-size: 22px;
        font-weight: 400;
        line-height: 30px;
        margin: 25px 0px;
      }

      p {
        font-size: 15px;
        line-height: 18px;
      }

      .footer-newsletter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include media-breakpoint-up(md) {
          align-items: flex-start;
        }

        & > input {
          width: 261px;
          margin-bottom: 24px;

          @include media-breakpoint-up(md) {
            margin-top: 24px;
          }
        }

        @include media-breakpoint-up(md) {
          label {
            font-size: 22px;
            line-height: 37px;
          }
        }
      }

      .footer-social {
        .footer-headings {
          display: flex;
          flex-direction: column-reverse;
          justify-content: center;
          align-items: center;
          margin-top: 20px;

          h1 {
            margin: 0;
          }
        }

        &-inner {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 25px;
          font-size: 25px;
          margin: 25px 0px;

          @include media-breakpoint-up(md) {
            margin: 15px 0;
            justify-content: flex-start;
          }

          & > a > i {
            transition: transform 0.2s linear;

            &:hover {
              transform: scale(1.2);
            }
          }
        }
      }
    }
  }
}
