.header {
  background: url(../../../public/images/banner/banner.png) center center /
    cover no-repeat;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  @include media-breakpoint-up(md) {
    height: 50vh;
  }

  &-connect {
    color: $white;
    text-transform: uppercase;
    font-size: 1rem;
  }

  &-controls {
    font-size: 18px;
  }

  &-primary {
    background-color: $brand-primary;
  }

  &-banner-main {
    position: relative;

    & > a {
      position: absolute;
      color: #000;
      bottom: 15%;
      right: 10%;
      border: 1px solid #fff;
      background: #fff;
      text-transform: uppercase;
      padding: 4px 20px;
      font-size: 10px;
      line-height: 13px;
    }
  }

  form {
    position: relative;
  }

  &-search {
    background-color: unset;
    border: 1px solid $white;
    width: 227px;

    @include media-breakpoint-up(md) {
      border: 1px solid $black;
      &::placeholder {
        position: relative;
        left: 32px;
      }
    }
  }

  &-mobile-menu {
    color: $white;
    font-size: 32px;
  }

  &-search-mobile {
    color: $white;
    position: absolute;
    right: 9px;
    top: 6px;
    z-index: 1;

    @include media-breakpoint-up(md) {
      color: $black;
      left: 9px;
    }
  }

  @include media-breakpoint-down(md) {
    background: unset;
  }
}

.header-nav {
  color: $white;
  padding: 10px;
  position: absolute;
  bottom: 0;
  background-color: $brand-primary;
  width: 100%;
  text-transform: uppercase;
}
